**/.DS_Store
**/desktop.ini
.vscode/

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
# session
Session.vim

# Hugo output
public/
resources/

# Backup file
*.bak

# Hugo lock file
# https://discourse.gohugo.io/t/what-is-the-hugo-build-lock-file/35417
*.lock