/* AUTHENTICATION PAGES */
.login-container,
.signup-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.lg-logo {
  position: fixed;
  top: 0;
  max-height: 25%;
  width: auto; /* Maintain aspect ratio */
}

.welcome-text,
.signup-header {
  font-size: 3rem; /* Use responsive font size */
  font-weight: 700;
  text-align: center; /* Center text */
}

.welcome-text {
  margin-top: 10%;
}

.signup-header {
  margin-top: 20%;
}

/* Input & Button Styling */
.input-field {
  width: 80%;
  max-width: 400px; /* Limit width for larger screens */
  padding: 10px;
  margin: 10px 0;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #f0ece4;
  text-align: left;
}

.input-field::placeholder {
  opacity: 0.8;
  color: #f0ece4;
}

.input-field:focus {
  outline: none;
}

.login-button,
.signup-button {
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  background-color: #b11226;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.login-button:hover,
.signup-button:hover {
  background-color: #910d1c;
}

.forget-password-text,
.sign-up-text,
.existing-account-text {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10px;
  text-align: center; /* Improve readability on small screens */
}

.login-link,
.signup-link {
  color: #b11226;
  font-weight: 400;
  cursor: pointer;
  transition: text-decoration 0.3s;
}
.login-link:hover,
.signup-link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 700px) {
  .login-container,
  .signup-container {
    width: 100%; /* Full width for small screens */
    height: auto; /* Adjust height */
    padding: 20px; /* Add some padding */
  }

  .lg-logo {
    top: 5%;
    max-height: 15%;
  }

  .welcome-text, .signup-header {
    font-size: 2rem;
  }

  .input-field {
    width: 100%; /* Take up full width */
    font-size: 1rem;
  }

  .login-button, .signup-button {
    width: 100%;
    font-size: 1rem;
  }

  .forget-password-text,
  .sign-up-text,
  .existing-account-text {
    font-size: 0.8rem;
  }

  .sidebar {
    position: fixed;
    width: 50%;
    height: 100vh;
    padding: 10px;
  }

  .button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  .widgetContent {
    font-size: 0.8rem;
  }
}
