/* NAVBAR STYLING */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 12vw;
  height: 100vh;
  background-color: rgba(240, 236, 228, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  z-index: 2;
  transition: width 0.3s ease;
}

.avatar{
  width: 125px;
  height: 125px;
}

.sidebar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s;
}

.sidebar button img {
  transition: transform 0.3s;
}

.sidebar button:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}