/* Wrapper styling for sliding effect */
.wrapper {
  display: fixed;
  width: 100vw;
  height: 100vh;
}

.container {
  position: fixed;
  bottom: 0;
  left: 25vw;
  width: 63vw;
  height: 50vh;
  background-color: rgba(28, 28, 28, 0.5);
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  padding: 2vh; /* Scaled padding using viewport height */
  background-color: rgba(28, 28, 28, 0.5);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

/* Sidebar Button */
.button {
  width: 100%;
  padding: 5vh; /* Scaled padding for responsiveness */
  font-size: 1.5rem; /* Responsive font size */
  color: white;
  margin: 1vh 0; /* Scaled vertical margin */
  background-color: #333;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  transition: background-color 0.3s;
}

.buttonActive {
  background-color: #ff4d4d;
}

/* Content Area */
.contentArea {
  flex: 1;
  padding: 2vh;
  background-color: #3b3b3b;
  color: white;
  font-size: 1.5rem; /* Responsive font size */
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh; /* Scaled margin */
}

/* Widget Content */
.widgetContent {
  padding: 2vh; /* Scaled padding */
  background-color: #252525;
  color: white;

  border-radius: 0.5rem;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 90%; /* Use percentage for width */
  height: 80%; /* Use percentage for height */
}

.brightness-input {
  width: 100%;
  background: linear-gradient(90deg, #360f0f, #ff4d4d);
  border-radius: 0.25rem; /* Scaled border radius */
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.brightness-input::-webkit-slider-thumb {
  appearance: none;
  width: 2vw; /* Scaled using viewport width */
  height: 2vw; /* Scaled to keep the slider circular */
  border-radius: 50%;
  background: #252525;
  cursor: pointer;
}
