.react-calendar{
  font-size:0.9em;
}

.react-calendar__tile {
  padding: 0 0; /* Adjust padding to reduce space inside tiles */
  text-align: center;
}

.react-calendar {
    width: 30vw;
    height: 35vh;
    display: fixed;
    font-family: Arial, sans-serif;
  }
  .react-calendar__navigation__label > span {
    color: black;
  }

  .react-calendar__navigation button {
    color: #333;
    min-width: 44px;
    background: none;
    font-size: 1.2em;
    font-weight: bold;
  }

  .react-calendar__tile--now {
    background: rgb(238, 225, 39);
    color: black;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    color: black;
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #007bff;
    border-radius: 2;
    color: white;
  }
  
  .react-calendar__tile--active {
    /*day tile selected*/
    background: #007bff;
    color: white;
  }

  /*prev2 button disabled*/
.react-calendar__navigation__prev2-button {
    display: none;
  }
  
  /*Disable the next2 button*/
  .react-calendar__navigation__next2-button {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday abbr {
    color: black;
    text-decoration: none;
    font-size: 1em;
  }
  

  .react-calendar__tile {
    color: black;
  }
  
  .react-calendar__tile.holiday {
    color: red; /* Holiday Text Color */
  }


  