<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="has-navbar-fixed-top">
  <section class="gen-wrapper white-bg">
    {{ partial "header.html" . }}
    <!--{{ partialCached "hero.html" . .Section }}-->
    <div class="container is-fluid">
      <div class="blog-home-wrapper columns verticals is-centered">
        <div class="blog-home-container column is-full">
          <div class="intro column is-8 is-offset-2">
            <h1 class="title">Blog</h1>
            <span class="dash-line"></span>
            <p class="subtitle">Find out the latest news, articles, and video posts.</p>
          </div>
          <div class="blog-filter-box">
            <div class="columns field is-vcentered">
              <div class="field-label is-normal">
                <!--<label class="label">Category Filter</label>-->
                <p><strong>Category Filter</strong></p>
              </div>
              <div class="field-body">
                <div class="field btn-wrap">
                  <div class="control">
                    <button class="button btn-article" data-filter="Article">Article</button>
                    <button class="button btn-news" data-filter="News">News</button>
                    <button class="button btn-video" data-filter="Video">Video</button>
                    <!--<button class="button btn-apply">Apply</button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrap">
            <div id="search-results">
              <div class="line">
                <div class="blog-home-content list">
                  {{ range .Pages }}
                  <div class="card">
                    <a href="{{ .Permalink }}">
                      <div class=" ">
                        {{ if eq .Params.posttype "release" }}
                        {{ if isset .Params "thumbnail" }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ print "/images/blog/thumbnails/" .Params.thumbnail | relURL }}"
                              alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ else }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ "/images/blog/thumbnails/th-release.png" | relURL }}"
                              alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ end }}
                        {{ else if eq .Params.posttype "news" }}
                        {{ if isset .Params "thumbnail" }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ print "/images/blog/thumbnails/" .Params.thumbnail | relURL }}"
                              alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ else }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ "/images/blog/thumbnails/th-news.jpg" | relURL }}" alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ end }}
                        {{ else if eq .Params.posttype "video" }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            {{ if hasPrefix .Params.thumbnail "http" }}
                            <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}">
                            {{ else }}
                            <img src="{{ print "/images/blog/thumbnails/" .Params.thumbnail | relURL }}"
                              alt="{{ .Params.title }}">
                            {{ end }}
                          </figure>
                        </div>
                        {{ else if eq .Params.posttype "article" }}
                        {{ if isset .Params "thumbnail" }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ print "/images/blog/thumbnails/" .Params.thumbnail | relURL }}"
                              alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ else }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ "/images/blog/thumbnails/th-article.png" | relURL }}"
                              alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ end }}
                        {{ else }}
                        <div class="card-image thumbnail">
                          <figure class="image is-4by3">
                            <img src="{{ "/images/blog/thumbnails/th-news.jpg" | relURL }}" alt="{{ .Params.title }}">
                          </figure>
                        </div>
                        {{ end }}

                        <div class="card-content card-info">
                          <!--tag class type-->
                          {{ with .Params.posttype }}
                          {{ if eq . "release"}}
                          <span class="tag news">News</span>
                          {{ else }}
                          <span class="tag {{ . }}">{{ . | humanize }}</span>
                          {{ end }}
                          {{ else }}
                          <span class="tag news">News</span>
                          {{ end }}
                          <!--tag class type-->
                          <h2 class="title">{{ .Title }}</h2>
                          <p class="date">
                            {{ .Date.Format .Site.Params.time_format }}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  {{ end }}
                </div>
              </div>
              <div class="pagination-wrap">
                <a class="pagination-first" href="#"><<</a>
                <a class="pagination-prev" href="#"><</a>
                <ul class="pagination">
                </ul>
                <a class="pagination-next" href="#">></a>
                <a class="pagination-last" href="#">>></a>
              </div>
            </div>
          </div>
          <!--{{ template "_internal/pagination.html" . }}-->
        </div>
      </div>
    </div>
    {{ partial "scripts-footer.html" . }}
    {{ partialCached "footer.html" . }}
  </section>
</body>

</html>