<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="has-navbar-fixed-top">
  <section class="gen-wrapper">
    {{ partial "header.html" . }}
    <!--{{ partialCached "hero.html" . .Section }}-->
    <div class="container is-fluid">
      <div class="columns verticals">
        {{ partial "blog/sidebar.html" . }}
        <div class="content-container column is-three-fifths-desktop is-two-thirds-tablet">
          <div class="content-main content">
            <h1 class="title">{{ if (isset .Params "display_title") }}{{ .Params.display_title }}{{ else }}{{ .Title }}{{ end }}</h1>
            <p class="is-size-6 has-text-grey">{{ .Date.Format .Site.Params.time_format }}</p>
            {{ .Content }}
          </div>
          {{ partialCached "license-footer.html" . }}
        </div>
        {{ partial "toc.html" . }}
      </div>
    </div>
    {{ partial "scripts-footer.html" . }}
    {{ partialCached "footer.html" . }}
  </section>
</body>

</html>