<!-- build menu tree (as UL list) to implement sidebar menu based on Navgoco (https://plugins.jquery.com/navgoco/) -->
<div class="sidebar-container column is-one-fifth no-print">
  <p class="sidebar-title is-hidden-tablet">Menu</p>
  <div class="switch is-hidden-tablet">
    <span class="slider round"></span>
  </div>
  <div class="custom-side">
    <div class="sidebar-main sidebar">
      <div class="sidebar-inner">
        <p class="sidebar-title dis-hidden-mobile">About</p>
        <ul class="sidebar-menu nav scrollbar-outer">
        {{ partialCached "page-tree.html" .FirstSection .FirstSection.RelPermalink }}
        </ul>
      </div>
    </div>
  </div>
</div>