<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="has-navbar-fixed-top">
  <section class="gen-wrapper">
    {{ partial "header.html" . }}
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="content-container column is-9">
          <div class="content-main content">
            <h1 class="title">{{ .Title }}</h1>
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    {{ partial "scripts-footer.html" . }}
    {{ partialCached "footer.html" . }}
  </section>
</body>

</html>