<div class="btn-top"></div>
<footer class="footer no-print">
  <div class="container is-fluid">
    <div class="level columns is-vcentered ">
      <div class="column level-left">
        <ul class="left-text">
          <li><a href="/privacy-policy">Privacy</a></li>
          <li><a href="/license-trademarks">License</a></li>
        </ul>
      </div>
      <div class="column level-right">
        <ul class="icon-sns-box">
          <li><a class="icon" href="https://github.com/webosose" target="_blank" rel="noopener" aria-label="GitHub repository"><i class="fab fa-github"></i></a></li>
          <li><a class="icon" href="https://www.linkedin.com/company/webos/" target="_blank" rel="noopener" aria-label="LinkedIn Page"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="icon" href="https://twitter.com/webos_ose" target="_blank" rel="noopener" aria-label="Twitter feed"><i class="fab fa-twitter"></i></a></li>
          <li><a class="icon" href="https://www.youtube.com/channel/UC8wy-KVywjZ9CPrVeq4DvmA/videos" target="_blank" rel="noopener" aria-label="YouTube page"><i class="fab fa-youtube"></i></a></li>
          <li><a class="icon" href="https://www.facebook.com/webos.ose" target="_blank" rel="noopener" aria-label="Facebook page"><i class="fab fa-facebook"></i></a></li>
          <li><a class="icon" href="https://enactjs.com" target="_blank" rel="noopener" aria-label="Enact website"><i class="fab fa-enact"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
