<header>
  <nav class="navbar is-fixed-top is-transparent no-print">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/" aria-label="webOS Open Source Edition"></a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          {{ $sections := slice "about" "docs" "blog" "community" }}
          {{ range $sections }}
          <span class="navbar-item">
            {{ with $.Site.GetPage "section" . }}<a href="{{ .RelPermalink }}" {{ if eq .Section $.Section }}
              class="is-active" {{ end }}>{{ .LinkTitle }}</a>{{ end }}
          </span>
          {{ end }}
          <span class="navbar-item">
            <p class="control has-icons-right">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-small is-right">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </span>
          <!--
          <span class="navbar-item">
              <a class="button is-white" href="https://github.com/webosose">
                  <span class="icon">
                      <i class="fa fa-github"></i>
                  </span>
              </a>
          </span>
          -->
        </div>
      </div>
    </div>
  </nav>

</header>
