<script src="{{ "js/burger-menu.js" | relURL }}"></script>
<script src="{{ "js/jquery-3.3.1.min.js" | relURL }}"></script>
{{ if .IsHome }}
<script src="{{ "js/landing-scripts.js" | relURL }}"></script>
{{ end }}
<script src="{{ "js/common.js" | relURL }}"></script>
{{ if .Params.blog_main }}
<script src="{{ "js/list.min.js" | relURL }}"></script>
<script src="{{ "js/contents-blog.js" | relURL }}"></script>
{{ else if (and (not .IsHome) (not .Params.docs_home) )}}
<script src="{{ "js/anchor-4.2.0.min.js" | relURL }}"></script>
<script src="{{ "js/anchors.js" | relURL }}"></script>
<script src="{{ "js/jquery.navgoco.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.scrollbar.min.js" | relURL }}"></script>
<script src="{{ "js/sticky-sidebar.min.js" | relURL }}"></script>
<script src="{{ "js/contents-nav.js" | relURL }}"></script>
{{ if (and (not .Params.section_main) (and (isset .Params "toc") (.Params.toc) ) ) }}
<script src="{{ "js/tocbot.min.js" | relURL }}"></script>
<script src="{{ "js/toc.js" | relURL }}"></script>
{{ end }}
<!-- script for sidebar expanding to the current page -->
<script>
  $(".sidebar-menu").find("li.active").parents('li').toggleClass("open");
</script>
{{ end }}