{{/* partial "cookies-popup.html" . */}}
{{ partial "javascript.html" . }}
<!-- Algolia DocSearch, Reference: https://docsearch.algolia.com/docs/DocSearch-v3 -->
<!-- Before the closing </body> -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"></script>
<script src="{{ "js/docsearch-v3.js" | relURL }}"></script>
<script>
  docsearch({
    container: '#docsearch',
    appId: {{ getenv "SEARCH_APP_ID" }},
    indexName: {{ getenv "SEARCH_INDEX_NAME" }},
    apiKey: {{ getenv "SEARCH_API_KEY" }},
  });
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ getenv "GTM_TRACKING_CODE" }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
