<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="has-navbar-fixed-top">
  <section class="gen-wrapper">
    {{ partial "header.html" . }}
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="content-container column is-9">
          <div class="content-main content has-text-centered">
            <h1 class="title">Page Not Found</h1>
            <img src="/images/page-not-found.png" alt="page not found">
            <p>The page you were looking for does not exist.</p>
            <p>If you are looking for some document, visit the <a href="/docs/home/">Documentation Overview</a>.</p>
            <p>If you are interested in checking blog posts, visit the <a href="/blog">Blog main page</a>.</p>
          </div>
        </div>
      </div>
    </div>
    {{ partial "scripts-footer.html" . }}
    {{ partialCached "footer.html" . }}
  </section>
</body>

</html>