{{ $pages := .CurrentSection.Pages }}

<!-- build menu tree (as UL list) to implement sidebar menu based on Navgoco (https://plugins.jquery.com/navgoco/) -->
<div class="sidebar-container column is-one-fifth">
  <p class="sidebar-title is-hidden-tablet">Menu</p>
  <div class="switch is-hidden-tablet">
    <span class="slider round"></span>
  </div>
  <div class="custom-side">
    <div class="sidebar-main sidebar">
      <div class="sidebar-inner">
        <p class="sidebar-title dis-hidden-mobile">Posts</p>
        <ul class="sidebar-menu nav scrollbar-outer">
          {{ range $pages.GroupByDate "2006" }}
          <li>
            <a><strong>{{ .Key }}</strong></a>
            <ul>
              {{ range .Pages }}
              <li {{ if eq $.RelPermalink .RelPermalink }} class="active" {{ end }}>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>