/* Global Styles */
* :not(.noglobal *){
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #F0ECE4;
}

.app {
  /* background: url('./assets/background-1.jpg') center/cover no-repeat; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}