
.moon {
  fill: white;
  filter: drop-shadow(0 0 20px rgba(252,252,252,0.8));
  width: 6vw; /* Scaled width */
  height: 6vw; /* Scaled height */
}

.sun {
  fill: orange;
  filter: drop-shadow(0 0 20px rgba(255,165,0,0.8));
  width: 6vw; /* Scaled width */
  height: 6vw; /* Scaled height */
  border-radius: 50%;
}

@keyframes moveCloud {
  0%,
  100% {
    transform: translateX(-2vw)
  }
  50% {
    transform: translateX(2vw);
  }
}

.cloud {
  fill: lightblue;
  filter: drop-shadow(0 0 20px rgba(173,216,230,0.8));
  width: 6vw; /* Scaled width */
  height: 6vw; /* Scaled height */

  animation: moveCloud 8s ease-in-out infinite;
}
.rain{ 
  fill: lightblue;
  filter: drop-shadow(0 0 20px rgba(173,216,230,0.8));
  width: 8vw; /* Scaled width */
  height: 8vw; /* Scaled height */

  animation: moveCloud 8s ease-in-out infinite;
}

.cloud-container {
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-150%);
}

.temperature{
  font-size: 2rem;
  font-size: bold;
  margin-top: 3vh;
}

.feels-like {
  font-size: 1rem;
  margin-bottom: 2vh;
}

.location{
  font-size: 1.5rem;
  font-size: bold;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  outline: none;
}

.location:hover{
  cursor: pointer;
}


.weather-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%; /* Left part width */
}

.weather-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 50%; /* Right part width */
  padding-left: 2vw; /* Adjust padding as needed */
}